
.grid {
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
  text-align: center;
}

.new-user {
  width: 12rem;
  max-width: 30%;
  padding: 1.2rem;
  margin: .5rem auto .5rem;
  background-color: snow;
  opacity: 90%;
  border-radius: 3px;
}
