
.grid {
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
  text-align: center;
}

.new-user {
  width: 12rem;
  max-width: 30%;
  padding: 1.2rem;
  margin: .5rem auto .5rem;
  background-color: snow;
  opacity: 90%;
  border-radius: 3px;
}

body {
  background-image: url(/public/bkgrd2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  animation: change 35s infinite ease-in-out;
}

@keyframes change {
  10%
  {
    background-image: url(/public/bkgrd2.jpeg);
  }
  40%
  {
    background-image: url(/public/bkgrd3.jpeg);
  }
  60%
  {
    background-image: url(/public/bkgrd8.jpeg);
  }
  80%
  {
    background-image: url(/public/bkgrd4.jpeg);
  }
  100%
  {
    background-image: url(/public/bkgrd5.jpeg);
  }
}
