.container {
    text-align: center;
}

.flex-container {
    list-style-type: none;
    background-color: snow;
    opacity: 80%;
    border-radius: .3rem;
    margin: 3rem;
    padding: .25px;
    flex-direction: row;
    display: flex;

}

body {
    background-image: url(/public/bkgrd3.jpeg);
}