html,
#react-root {
  height: 100%;
  width: 100%;
  margin: 0;
}

.backgrd-img {
  margin: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(/public/view.JPG);
  background-color: black;
  background-repeat: no-repeat;
  animation: change 60s infinite ease-in-out;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fauna One', Georgia, serif;
}
body {
  font-family: Cinzel, Verdana, sans-serif;
  height: 100%;
  margin: 0;
  justify-content: center;
}
@keyframes change{
  0%
  {
      background-image: url(/public/view.JPG);
  }
  20%
  {
    background-image: url(/public/cathedral.JPG);
  }
  40%
  {
    background-image: url(/public/riviera.JPG);
  }
  60%
  {
    background-image: url(/public/paintings.JPG);
  }
  80%
  {
      background-image: url(/public/venice.JPG);
  }
  100%
  {
      background-image: url(/public/water.jpeg);
  }
}
img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-width: 0;
  border-radius: 4px;
  background-color: deepskyblue;
  color: snow;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  align-content: center;
}

.btn:hover {
  background-color: lightgreen;
  color: snow;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  color: aqua;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  text-align: center;
  box-sizing: border-box;
  width: 22rem;
  max-width: 100%;
  padding: 25px;
  margin: 80px auto 20px;
  background-color: snow;
  opacity: 90%;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.about {
  margin: 6rem 24rem 0rem 24rem;
  background-color: snow;
  border-radius: .3rem;
  display: flex;
  padding: 25px 74px;
  opacity: 90%;

}

.tech {
  margin: 6rem 24rem 18rem 24rem;
  background-color: snow;
  border-radius: .3rem;
  display: flex;
  padding: 25px 74px;
  opacity: 90%;
  flex-direction: column;
}

span {
  font-weight:bold;
  font-size: 2rem;
  font-family: 'Fauna One', Georgia, serif;
}
input {
  margin: 5px;
  margin-bottom: 10px;
}

.landing, .register, .login {
  margin-bottom: 18rem;
}
